nav ul li a
{
    text-decoration: none;
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav ul
{
    list-style-type: none;
    background-color:rgb(121, 172, 120);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a:hover
{
    transition: 0.5s;
    background-color: rgb(176, 217, 177);
    color: black;
}

nav ul li a.active
{
    background-color: rgb(97, 130, 100);
    color: white;
}

body
{
    background-color: lightgreen;
}