body
{
    background-color: black;
}

#container
{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.termek
{
    border: 2px solid black;
    padding: 0.5rem;
    background-color: white;
}